%main
  %section.py-6.container
    .row.py-lg-5
      .col-lg-8.col-md-8.mx-auto
        = form_for @user, url: profiles_path do |f|
          .field
            = f.label :info
            = f.rich_text_area :info
          = f.submit 'Save',  class: "btn btn-dark mt-3"
