.row.margin-twenty5-zero.margin-b-zero.pagination-row
  .col-lg-8.col-md-8.col-sm-7.col-xs-6.padding-zero
    %ul.pagination
      %li.disabled
        = will_paginate(@posts, 
          :previous_label => "«", 
          :next_label => "»", 
          :class => "small-font", 
          :outer_window => 1, 
          :inner_window => 1)
  .col-lg-4.col-md-4.col-sm-5.col-xs-6.pagination-info
    %span.pull-right
      -# = page_entries_info @posts